<div class="flex flex-row items-center justify-evenly gap-6 py-10 px-2 border-t border-b border-gray-200">

    <button class="px-2" (click)="deleteArticle()">
        <mat-icon class="text-2xl cursor-move">delete</mat-icon>
    </button>
    @if (article.photoCount > 0) {
    <img [src]="photoUrl" alt="{{ article.name }}"
        class="w-20 h-20 object-cover rounded" />
    } @else {
    <img src="/img/articles/default.png" alt="{{ article.name }}"
        class="w-20 h-20 object-cover rounded" />
    }
    <div class="flex flex-col">
        <div>
            <div class="flex flex-col">
                <h2 class="font-bold text-wrap wrap-anywhere">{{ article.name }}</h2>
                <p>{{ article.id }} - {{ article.price }} €</p>
            </div>
        </div>
        <form class="flex items-center justify-center flex-col content-center">
            <select class="border border-gray-300 rounded px-4 py-2 w-full" [(ngModel)]="article.state"
                (ngModelChange)="onStateChange()" [ngModelOptions]="{standalone: true}">
                @for (state of states; track state) {
                <option [value]="state">{{ state }}</option>
                }
            </select>
        </form>
    </div>

    <a [routerLink]="['/article', article.id]" class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </a>
</div>