<div class="w-full border-t border-green-200 bg-white shrink-0">
    <nav class="flex h-full justify-around">
        <app-navbar-button 
            route="/home" 
            icon="leaderboard" 
            label="Accueil" 
        />
        <app-navbar-button 
            route="/search" 
            icon="search" 
            label="Recherche" 
            [selected]="true" 
        />
        <app-navbar-button 
            route="/settings" 
            icon="settings" 
            label="Paramètres" 
        />
    </nav>
</div>