@if (popup) {
<div
  class="fixed z-9999 w-max shadow-lg rounded-lg p-4 flex flex-col items-center gap-3 backdrop-blur-sm bg-green-500/90 wrap-anywhere text-wrap" style="transform: translateX(-50%); left: 50%; bottom: 50vh;">
  <button (click)="closeNotification()" class="text-white hover:text-gray-200 transition-colors fixed top-5 right-5">
    <mat-icon>close</mat-icon>
  </button>
  <span class="flex-1 text-white font-medium mt-8">
    {{ popup.message }}
  </span>

  <button (click)="makeAction()" class="rounded bg-white text-black px-6 py-2">{{ popup.actionMessage }}</button>
</div>
}